#search-box
    margin-bottom: 10px

.panel-heading
    padding: 0px
    h5
        margin: 0px

    a
        padding: 10px 15px
        display: block

    a:hover
        text-decoration: none

.result-item
    .result-selector
        float: left
        margin: 12px 10px 10px 10px
        position: absolute
    .result-content
        margin-left: 35px
        display: inline-block