#search-box
    margin-bottom: 10px

.panel-heading
    padding: 0px
    h5
        margin: 0px

    a
        padding: 10px 15px
        display: block

    a:hover
        text-decoration: none

.search-checkbox-list
    border: 1px #999999 solid
    height: 100px
    overflow-y: scroll
    padding: 0px 3px
    width: auto
    label
        font-weight: normal
        margin: 0px

.result-item
    .result-selector
        float: left
        margin: 12px 10px 10px 10px
        position: absolute
    .result-content
        margin-left: 35px
        display: inline-block