$nav-bg: #bec83c

$font-color: #333333
$bg-color: #E4E3E4



$primary-color: #D5DF3E
$primary-color-dark: #B8C233

$secondary-color: #006DC6
$secondary-color: #005EAE

$success-color: #89D889
$success-color-dark: #76b876

$info-color: #D9EDF7
$info-color-dark: #9dbccd
$warning-color: #FCF8E3
$warning-color-dark: #d7c799
$danger-color: #F2DEDE
$danger-color-dark: #d79c9a
