html, body, ul, ol {
  margin: 0px;
  padding: 0px; }

ul, ol {
  list-style: none; }

/********************************************
 * Main General Styles
 ****************************************** */
body {
  background-color: #E4E3E4; }

blockquote {
  border-left-color: #006DC6;
  font-size: 14px;
  margin: 10px 20px;
  padding: 2px 20px; }

textarea {
  height: 40px; }

a {
  color: #555555; }
  a:hover {
    color: #002F5B; }

form table td {
  padding: 10px; }

/********************************************
 * Navbar Styles
 ****************************************** */
nav {
  background-color: #D5DF3E;
  float: right;
  width: 100%; }

.navbar-nav {
  margin: 7px 10px; }
  .navbar-nav li {
    display: inline-block;
    padding: 0px;
    margin-top: 4px; }
    .navbar-nav li a {
      padding: 3px 8px; }
      .navbar-nav li a:hover {
        background-color: #bec83c;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; }
  .navbar-nav li.active {
    background-color: #D5DF3E;
    border-bottom: 2px #fff solid; }

.navbar-brand {
  height: 50px;
  width: auto;
  padding: 4px 10px 4px 30px;
  margin-left: 10px;
  margin-right: -10px; }

.navbar-left {
  width: 350px; }

.navbar-right {
  margin-top: 6px; }

/********************************************
 * Overwriting Bootstrap
 ****************************************** */
.btn, .btn-primary, .btn-primary:hover, .btn-success, .btn-success:hover {
  color: #333333;
  border-radius: 1px; }

.btn-primary {
  background-color: #D5DF3E;
  border-color: #B8C233; }
  .btn-primary:hover {
    background-color: #B8C233;
    border-color: #B8C233; }

.btn-success {
  background-color: #89D889;
  border-color: #76b876; }
  .btn-success:hover {
    background-color: #76b876;
    border-color: #76b876; }

.dropdown-menu {
  border-radius: 1px;
  margin: 0px; }

.dropdown-toggle:hover {
  background-color: #EEE; }

.nav-tabs {
  border-bottom: 1px solid #ddd; }
  .nav-tabs > li.active > a {
    border-radius: 1px 1px 0px 0px;
    border-bottom: none; }
  .nav-tabs > li:hover > a {
    border-radius: 1px 1px 0px 0px;
    border-bottom: none; }
  .nav-tabs .navbar-right {
    margin-top: 0px;
    margin-right: -2px; }

.tab-content {
  background-color: #FFF;
  padding: 5px 10px; }

.breadcrumb {
  background-color: #E4E3E4;
  border-radius: 0px;
  margin-bottom: 10px;
  padding: 5px 15px; }

.alert {
  border-radius: 1px;
  border: 5px solid transparent;
  padding: 10px; }
  .alert .close {
    right: 0px; }
  .alert.alert-success {
    background-color: #E4E3E4;
    border-color: #76b876; }
  .alert.alert-info {
    background-color: #E4E3E4;
    border-color: #9dbccd; }
  .alert.alert-warning {
    background-color: #E4E3E4;
    border-color: #d7c799; }
  .alert.alert-danger {
    background-color: #E4E3E4;
    border-color: #d79c9a; }

/********************************************
 * Handy Classes
 ****************************************** */
.inline-block {
  display: inline-block; }

.block {
  display: block; }

.space-top-10 {
  margin-top: 10px; }

.space-bottom-10 {
  margin-bottom: 10px; }

.space-left-10 {
  margin-left: 10px; }

.space-right-10 {
  margin-right: 10px; }

.landing-block h3 {
  text-decoration: underline; }
.landing-block ul {
  list-style: disc;
  margin-left: 30px; }
.landing-block img {
  width: 90%; }

#search-box {
  margin-bottom: 10px; }

.search-left-column {
  display: block;
  margin-right: 300px; }

.search-right-column {
  background-color: #FFF;
  border: 1px #bbbbbb solid;
  border-radius: 1px;
  padding: 10px;
  position: absolute;
  right: 10px;
  width: 290px; }
  .search-right-column h5 {
    margin-bottom: 3px; }
    .search-right-column h5:first-letter {
      text-transform: uppercase; }
  .search-right-column ul {
    list-style: disc;
    margin-left: 25px; }
  .search-right-column.affix {
    position: fixed;
    top: 10px; }

.panel {
  border-radius: 1px; }

.last-panel .panel-body ul {
  list-style: disc;
  margin-left: 25px; }

.panel-heading {
  padding: 0px; }
  .panel-heading h5 {
    margin: 0px; }
  .panel-heading a {
    padding: 10px 15px;
    display: block; }
  .panel-heading a:hover {
    text-decoration: none; }

.search-checkbox-list {
  border: 1px #999999 solid;
  max-height: 100px;
  overflow-y: scroll;
  padding: 0px 3px;
  width: auto; }
  .search-checkbox-list label {
    font-weight: normal;
    margin: 0px; }

.result-item .result-selector {
  float: left;
  margin: 12px 10px 10px 10px;
  position: absolute; }
.result-item .result-content {
  margin-left: 35px;
  display: inline-block; }

/*# sourceMappingURL=main.css.map */
