.result-item {

}

#search-box {
    margin-bottom: 10px;
}
.panel-heading {
    padding: 0px;
}
.panel-heading h5 {
    margin: 0px;
}
.panel-heading a {
    padding: 10px 15px;
    display: block;
}
.panel-heading a:hover {
    text-decoration: none;
}

.result-item .result-selector {
    float: left;
    margin: 12px 10px 10px 10px;
    position: absolute;

}

.result-item .result-content {
    margin-left: 35px;
    display: inline-block;
}