{% extends 'base.html' %}

{% block content %}


    <h2>Top 10 Most Recent Guestbook Entries</h2>
    {% for greeting in greetings %}
        {% if greeting.author %}
            <b>{{ greeting.author.username }}</b> wrote:
        {% else %}
            An anonymous person wrote:
        {% endif %}
        <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}

    <form action="/testapp/sign/" method="post">{% csrf_token %}
        <table>{{ form }}</table>
        <input type="submit" value="Sign Guestbook"/>
    </form>

    {% if api_result2 %}
        <h2>ID: {{ api_result2.item_id }}</h2>
        <h2>Content: {{ api_result2.data.0.content }}</h2>
        <p>{{ api_result2 }}</p>
    {% endif %}

    {% if api_greetings %}
        <h2>Content from Endpoints API</h2>
        <ul>
            {% for greeting in api_greetings.items %}
            <li>{{ greeting.content }}: {{ greeting.date }}</li>
            {% endfor %}
        </ul>
        <p>{{ api_greetings }}</p>
    {% endif %}
    <code>
        {{ api_result }}
    </code>

    <p>Django Version: {{ djversion }}</p>
{% endblock %}
