{% extends 'base.html' %}

{% block content %}


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h1>CGC Pilot</h1>

                    <h5 class="pull-right">Shh! It's a secret.</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="landing-block">
                    <h3><u>About us</u></h3>
                    <p>We're cat people.</p>
                    <p>Kitty ipsum dolor sit amet, scratched fluffy fur hiss I don't like that food, claw vestibulum sleep on your keyboard sagittis lick hiss vel hairball.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="landing-block">
                    <h3><u>Static Data</u></h3>
                    <img src="https://placekitten.com/g/500/350">
                </div>
            </div>
        </div>
    </div>


{% endblock %}
