{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
{#<link type="text/css" rel="stylesheet" href="{% static 'css/search.css' %}" />#}
    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/d3.min.js' %}"></script>

{% endblock %}

{% block content %}


    <h2>Search Metadata Page</h2>

        <div class="search-right-column" data-spy="affix" data-offset-top="125" data-offset-bottom="10">
            Search Criteria:
            <div id="tumors-search-criteria">
{#                <h5>Tumors selected:</h5>#}
{#                <ul></ul>#}
            </div>
{#            <h5>Elements selected:</h5>#}
            <div id="elements-search-criteria"></div>
{#            <h5>Platforms selected:</h5>#}
            <div id="platforms-search-criteria"></div>
        <form id="search-criteria" method="post" action="{% url 'search_results' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary space-top-10">Search</button>
        </form>
    </div>


    <div class="search-left-column">

        <input id="search-box" class="form-control" type="text" name="search-field" placeholder="Search" />

        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>
                    <a data-toggle="collapse" data-parent="#search-accordion" href="#collapseOne">
                        Tumor Types
                    </a>
                </h5>
            </div>

            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">

                    <ul class="search-checkbox-list">
                        {% for type in tumor_types %}
                            <li>
                                <label for="tumor-{{ type.id }}">
                                    <input type="checkbox" name="tumors-selected" id="tumor-{{ type.id }}" >
                                    {{ type.id }} - {{ type.label }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>
                    <a data-toggle="collapse" data-parent="#search-accordion" href="#collapseTwo">
                        Metadata Search
                    </a>
                </h5>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body">
                    <h5>Element</h5>
                    <ul class="search-checkbox-list">
                        {% for e in elements %}
                            <li>
                                <label for="element-{{ e.id }}">
                                    <input type="checkbox" name="elements-selected" id="element-{{ e.id }}" >
                                    {{ e.label }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>

                    <h5>Platform</h5>
                    <ul class="search-checkbox-list">
                        {% for e in platforms %}
                            <li>
                                <label for="platform-{{ e.id }}">
                                    <input type="checkbox" name="platforms-selected" id="platform-{{ e.id }}" >
                                    {{ e.label }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>

                    <h5>Participant</h5>
                    <input type="textbox" name="participant" id="participant">

                    <h5>Batch</h5>
                    <input type="textbox" name="batch" id="batch">

                    <hr>
                </div>
            </div>
        </div>
        <div class="panel panel-default last-panel">
            <div class="panel-heading">
                <h5>
                    <a data-toggle="collapse" data-parent="#search-accordion" href="#collapseThree">
                        Simple Search Criteria
                    </a>
                </h5>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in">
                <div class="panel-body">
                    <h5>Patient Data</h5>
                    <ul>
                        <li>age at diagnosis (threashold or range)</li>
                        <li>
                            vital status and followup
                            <ul>
                                <li>Alive/Dead</li>
                                <li>Follow-up (number of days, usually used with 'Alive')</li>
                            </ul>
                        </li>
                    </ul>
                    <h5>Diagnosis Information</h5>
                    <ul>
                        <li>Disease Code (selected 1+ from list of ~30)</li>
                        <li>Pathologic Stage (range from string)</li>
                        <li>Histologic Grade (range from string)</li>
                        <li>Pathologic T/N/M (range from string)</li>
                    </ul>
                    <h5>Molecular Data Type</h5>
                    <ul>
                        <li>
                            DNA Data
                            <ul>
                                <li>DNA (platforms list, formats list)</li>
                                <li>SNP chip or Copy-Number (platform list, formats list)</li>
                                <li>DNA methylation (platform list, formats list)</li>
                            </ul>
                        </li>
                        <li>
                            mRNA Data
                            <ul>
                                <li>mRNA (platforms list, formats list)</li>
                                <li>miRNA (platforms list, formats list)</li>
                            </ul>
                        </li>
                        <li>
                            Protein Data
                            <ul>
                                <li>RPPA (Level-3 data matrix)</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="graph-tip"></div>
    <div id="treegraph" class="space-bottom-10"></div>

    <script type="text/javascript" src="{% static 'js/tree-graph.js' %}"></script>

{% endblock %}
