{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
{#<link type="text/css" rel="stylesheet" href="{% static 'css/search.css' %}" />#}
{% endblock %}

{% block content %}


    <h2>Search Metadata Page</h2>

    <input id="search-box" class="form-control" type="text" name="search-field" placeholder="Search" />

    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>
                <a data-toggle="collapse" data-parent="#search-accordion" href="#collapseOne">
                    Tumor Types
                </a>
            </h5>
        </div>

        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">

                <ul class="search-checkbox-list">
                    {% for type in tumor_types %}
                        <li>
                            <label for="tumor-{{ type.id }}">
                                <input type="checkbox" name="tumor-{{ type.id }}" id="tumor-{{ type.id }}" >
                                {{ type.id }} - {{ type.label }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>
                <a data-toggle="collapse" data-parent="#search-accordion" href="#collapseTwo">
                    Metadata Search
                </a>
            </h5>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body">
                <h5>Element</h5>
                <ul class="search-checkbox-list">
                    {% for e in elements %}
                        <li>
                            <label for="element-{{ e.id }}">
                                <input type="checkbox" name="element-{{ e.id }}" id="element-{{ e.id }}" >
                                {{ e.label }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>

                <h5>Platform</h5>
                <ul class="search-checkbox-list">
                    {% for e in platforms %}
                        <li>
                            <label for="platform-{{ e.id }}">
                                <input type="checkbox" name="platform-{{ e.id }}" id="platform-{{ e.id }}" >
                                {{ e.label }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>

                <h5>Participant</h5>
                <input type="textbox" name="participant" id="participant">

                <h5>Batch</h5>
                <input type="textbox" name="batch" id="batch">

                <hr>


            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>
                <a data-toggle="collapse" data-parent="#search-accordion" href="#collapseThree">
                    Patient Characteristics
                </a>
            </h5>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in">
            <div class="panel-body">
                <p>Put patient characteristics options here</p>
            </div>
        </div>
    </div>

    <a type="submit" class="btn btn-primary" href="/search_results">Search</a>
{% endblock %}
